.color-pannel(data-element='color-element')
  .overlay(data-element='color-overlay')
  .color-content(data-element='color-content')
    h4 pick a color
    .colors
      .all-colors(data-element='color-group')
        li(color-id='0')
        li(color-id='1')
        li(color-id='2')
        li(color-id='3')
        li(color-id='4')
        li(color-id='5')
        li(color-id='6')
        li(color-id='7')
        li(color-id='8')
        li(color-id='9')
        li(color-id='10')
        li(color-id='11')
      .default-btn(data-element='color-defaults')
        button Defaults
      .close-btn(data-element='color-close')
        button Close
