.homepage(data-element='homepage')
  
  .sticky-notes(data-element='homepage-stickys')
    section.back
        div.text
          h4 Lorem ipsum dolor
        div
          i.fa.fa-camera-retro 
        
    section.middle
      .heading
        h4 Lorem ipsum dolor
      .text
      .show-colors-pallet
        ul
          li
          li
          li
          li

    section.front
      .heading
        h4 Lorem ipsum dolor
      p Donec rhoncus egestas eros, ac lobortis augue ornare nec.
  .features
    ul(data-element='homepage-features')
      li
        div.icon
          i.fa.fa-edit
        div.text  
          span Nullam vel neque vitae dolor porta dictum. Etiam nec velit eget erat fringilla feugiat.
      li
        div.icon
          i.fa.fa-paint-brush
        div.text  
          span Suspendisse at finibus est. Praesent tempus tellus eu elementum sollicitudin.
      li
        div.icon
          i.fa.fa-rocket
        div.text  
          span Fusce sit amet tellus consequat, malesuada quam eu, interdum felis. 
  .homepage-auth
    span(data-element='auth-login-btn' )
    span(data-element='auth-signup-btn')
    .auth(data-element='auth')
      .login-with-third-partys
        .google(data-element='signin-google')
          .shadow
          div
            i.fa.fa-google-plus
            span Sign in with Google
        .facebook(data-element='signin-facebook')
          .shadow
          div
            i.fa.fa-facebook
            span Sign in with Facebook
        .twitter(data-element='signin-twitter')
          .shadow
          div
            i.fa.fa-twitter
            span Sign in with twitter
        
      .auth-pannel
        button(data-element='demo' class='demo-btn') Demo
