.auth-login(data-element='auth-login-element')
  form(class="auth-login-flex" data-element='auth-login-form')
    .auth-login-email
      input(type="email" placeholder="email" data-element="auth-login-email" autocorrect="off" autocapitalize="none")
    .auth-login-password
      input(type="password" placeholder="password" data-element="auth-login-password")
    .auth-login-submit
      button(type="submit" value="Log in") Log in
    .auth-login-back
      button(data-element='auth-login-back' type='button') Back
